<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="EVotingSystem.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            font-size: x-large;
        }
        .auto-style2 {
            font-size: xx-large;
        }
        .auto-style3 {
            font-size: large;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data"><center>
        <div>
            <span class="auto-style2"><strong>E - Voting System</strong></span><br />
            <span class="auto-style1"><strong>
            <br />
            Public Portal<br />
&nbsp;</strong></span><br />
            <strong>
            <asp:HyperLink ID="HyperLink1" runat="server" CssClass="auto-style3">Party List</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <asp:HyperLink ID="HyperLink2" runat="server" CssClass="auto-style3">Voters Info</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp;&nbsp; </span>
            <asp:HyperLink ID="HyperLink3" runat="server" CssClass="auto-style3" NavigateUrl="~/Login.aspx">Login</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp;&nbsp; </span>
            <asp:HyperLink ID="HyperLink4" runat="server" CssClass="auto-style3" NavigateUrl="~/RegisterChoice.aspx">Register</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp; </span></strong>&nbsp;<asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div></center>
    </form>
</body>
</html>
