<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site3Party.master.cs" Inherits="EVotingSystem.Site3Party" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">

        .auto-style2 {
            font-size: xx-large;
        }
        .auto-style1 {
            font-size: x-large;
        }
        .auto-style3 {
            font-size: large;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server"><center>
        <div>
            <span class="auto-style2"><strong>E - Voting System</strong></span><br />
            <span class="auto-style1"><strong>
            <br />
            Party Portal<br />
&nbsp;</strong></span><br />
            <strong>
            <asp:HyperLink ID="HyperLink1" runat="server" CssClass="auto-style3" NavigateUrl="~/PartyDashboard.aspx">Dashboard</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <asp:HyperLink ID="HyperLink2" runat="server" CssClass="auto-style3" NavigateUrl="~/MyProfile.aspx">My Profile</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp;&nbsp; </span>
            <asp:HyperLink ID="HyperLink3" runat="server" CssClass="auto-style3" NavigateUrl="~/PartyStatus.aspx">Status</asp:HyperLink>
            <span class="auto-style3">&nbsp;&nbsp;&nbsp;
            <asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="~/Logout.aspx">Logout</asp:HyperLink>
&nbsp;&nbsp;&nbsp; </span><span class="auto-style3">&nbsp;&nbsp; </span></strong>
            <br />
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div></center>
    </form>
</body>
</html>
