<?xml version="1.0" encoding="utf-8"?>
<!--
  Defense-in-depth: user-supplied files are stored under this folder.
  Script execution must never be possible here. Static image requests
  still work; every executable/script extension is denied at both the
  classic (System.Web HttpForbiddenHandler) and integrated (IIS handler
  mapping + request filtering) levels. Extensions already denied by the
  default IIS requestFiltering (.asax, .ascx, .master, .config, .cs,
  .vb, .sitemap, ...) are not repeated here.
-->
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.aspx" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.ashx" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.asmx" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.axd" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.cshtml" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.vbhtml" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ForbiddenAspx" path="*.aspx" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
      <add name="ForbiddenAshx" path="*.ashx" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
      <add name="ForbiddenAsmx" path="*.asmx" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
      <add name="ForbiddenAxd" path="*.axd" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
      <add name="ForbiddenCshtml" path="*.cshtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
      <add name="ForbiddenVbhtml" path="*.vbhtml" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions applyToWebDAV="false">
          <add fileExtension=".aspx" allowed="false" />
          <add fileExtension=".ashx" allowed="false" />
          <add fileExtension=".asmx" allowed="false" />
          <add fileExtension=".axd" allowed="false" />
          <add fileExtension=".cshtml" allowed="false" />
          <add fileExtension=".vbhtml" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
